@import './styles/variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background: var(--grey-200);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
